::-webkit-scrollbar {
    display: none;
}

/* 整体 */
#isso-thread {
    margin: var(--gap) 0;
    background: var(--code-bg);
    font-size: 15px;
    border-radius: var(--radius);
    padding: var(--comment-gap);
    text-align: justify;
}


/* 隐藏了网站选项 */
.auth-section p:nth-child(3) {
    display: none;
}


/* 输入评论大小 */
#isso-thread .textarea {
    background: var(--theme);
    height: 100px;
    overflow-y: scroll;
    padding: 0px var(--comment-gap);
    margin: var(--comment-gap) 0px;
}

/* 输入框前端的空格 */
#isso-thread .input-wrapper input {
    padding: 0px var(--comment-gap);
    color: var(--content);
}

/* 提交按钮大小 */
#isso-thread .auth-section .input-wrapper {
    margin: var(--comment-gap) 0;
    height: 26px;
    background: var(--theme);
    position: relative;

}

#isso-thread .auth-section .post-action {
    position: relative;
    display: inline-block;
    background: var(--secondary);
    margin: 0px var(--comment-gap) var(--comment-gap) 0px;
    height: 24px;
    width: 50px;
    text-align: center;

}

#isso-thread .auth-section .post-action input {
    color: var(--theme);
}


/* 已经评论的样式 */

/* 评论颜色 */
#isso-root {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 0.2mm dashed var(--primary);
    /* background: var(--tertiary); */
}


/* 添加每个评论之间空格 */
#isso-root .isso-comment {
    margin-top: 20px;
    background: var(--theme);
}

/* 添加文字前空格 */
#isso-root .isso-comment-header,
#isso-root .text,
#isso-root .isso-comment-footer {
    padding: 0px var(--comment-gap);
}

/* 回复文本字体大小 */
#isso-root .text {
    margin: var(--comment-gap) 0px;
    color: var(--primary);
    font-size: 16px;
    height: auto;
}


/* 回复的用户的字体 */
#isso-root .isso-comment-header {
    color: var(--theme);
    font-size: auto;
    font-style: italic;
    background: var(--secondary);
}

/* 回复按钮 */
#isso-root .isso-comment-footer * {
    position: relative;
    display: inline-block;
    background: var(--secondary);
    margin: 0px var(--comment-gap) var(--comment-gap) 0px;
    height: 20px;
    width: 50px;
    line-height: 20px;
    text-align: center;
    font-size: 8px;
}

#isso-root .isso-comment-footer a {
    color: var(--theme);
}

/* 回复界面 */
#isso-root .isso-postbox {
    background: var(--code-bg);
}

/* 回复的回复的编辑 */
#isso-root .form-wrapper {
    background: var(--tertiary);
    padding-top: var(--comment-gap);
    border-radius: var(--radius);
}

#isso-root .form-wrapper .textarea-wrapper,
#isso-root .form-wrapper .auth-section {
    padding: var(--comment-gap);
}

#isso-root .isso-follow-up {
    background: var(--code-bg);
    padding-top: 1px;
    padding-left: 20px;
}

#isso-root .isso-follow-up .isso-comment {
    margin-top: var(--comment-gap);
}

/* hover */
#isso-thread a:hover,
#isso-thread .post-action:hover {
    background: var(--content);
}